<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiHeart } from "@mdi/js";
import { mdiCursorDefaultClick } from "@mdi/js";
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <FancyButton
          ><v-icon :icon="mdiHeart" /> Love Me
          <template v-slot:tail> Tail </template></FancyButton
        >
      </v-col>
    </v-row>

    <v-col>
      <FancyButton
        ><v-icon :icon="mdiCursorDefaultClick" /> Click Me
        <template #tail> Tail </template></FancyButton
      >
    </v-col>
  </v-container>
</template>
