<script setup lang="ts">
import Menu from "@/components/MenuEduandInterests.vue";
import { mdiHeart } from "@mdi/js";
import { mdiSchool } from "@mdi/js";
</script>
<template>
  <v-container>
    <v-card class="mx-auto" max-width="500">
      <br />
      <v-img
        src="https://scontent.fbkk9-2.fna.fbcdn.net/v/t1.6435-9/119140134_1540729832801926_251694819729520252_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=174925&_nc_ohc=HAdlhQj59bYAX_w2fd1&_nc_ht=scontent.fbkk9-2.fna&oh=00_AfApKvFcjR8jb9Qzku_Kdvto2eUl9cnkU8xzl47htbSLVg&oe=63C3983B"
        height="200px"
      ></v-img>
      <v-card-item style="text-align: center">
        <v-card-title>My Profile</v-card-title>
        <v-card-title> ธิดารัตน์ โคตรพัฒน์</v-card-title>
      </v-card-item>

      <v-card-item class="justify-center">
        <Menu></Menu>
      </v-card-item>
    </v-card>

    <v-row>
      <v-col></v-col>
    </v-row>
  </v-container>
</template>
