<script setup lang="ts">
import { mdiHeart } from "@mdi/js";
import { mdiSchool } from "@mdi/js";
import { ref } from "vue";
const showEdu = ref(false);
const showInter = ref(false);

function Education() {
  showEdu.value = true;
}
function Interest() {
  showInter.value = true;
}
</script>

<template>
  <v-container>
    <v-row class="justify-center">
      <v-btn
        rounded="pill"
        color="green"
        :prepend-icon="mdiSchool"
        style="margin-left: 1em"
        @click="showEdu = !showEdu"
      >
        ประวัติการศึกษา
      </v-btn>

      <v-btn
        rounded="pill"
        color="green"
        :prepend-icon="mdiHeart"
        style="margin-left: 1em"
        @click="showInter = !showInter"
      >
        สิ่งที่สนใจ
      </v-btn>
    </v-row>

    <!-- Table ประวัติการศึกษา-->
    <v-row class="justify-center" v-if="showEdu === true">
      <v-col>
        <v-table>
          <thead>
            <tr>
              <th>ปีการศึกษา</th>
              <th>ระดับการศึกษา</th>
              <th>สถานที่ศึกษา</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2548-2550</td>
              <td>อนุบาลศึกษาปีที่ 1-3</td>
              <td>โรงเรียนภรวิชญ์</td>
            </tr>
            <tr>
              <td>2551-2556</td>
              <td>ประถมศึกษาปีที่ 1-6</td>
              <td>โรงเรียนสิริศึกษา</td>
            </tr>
            <tr>
              <td>2557-2562</td>
              <td>มัธยมศึกษาปีที่ 1-6</td>
              <td>โรงเรียนสมุทรปราการ</td>
            </tr>
            <tr>
              <td>2563-ปัจจุบัน</td>
              <td>ปริญญาตรี</td>
              <td>มหาลัยบูรพา</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>

    <!-- Table สิ่งที่สนใจ-->
    <v-row class="justify-center" v-if="showInter === true">
      <v-col>
        <v-table>
          <thead>
            <tr>
              <th style="font-size: 15px">สิ่งที่สนใจ</th>
            </tr>
          </thead>
          <tbody>
            <tr></tr>
            <tr>
              การออกเเบบ
            </tr>
            <tr>
              การอ่านหนังสือ
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
