<template>
  <v-app :theme="theme">
    <!-- v-app-bar -->
    <v-app-bar>
      <v-spacer></v-spacer>

      <!--ใส่ icon  mdiWeatherSunny , mdiWeatherNight-->
      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
        >Toggle Theme</v-btn
      >
    </v-app-bar>

    <!--v-navigation-drawer  -->
    <!-- permanent โชว์เมนูตลอดไม่ว่าจะขนาดหน้าจอไหน -->
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://scontent.fbkk9-2.fna.fbcdn.net/v/t1.6435-9/119140134_1540729832801926_251694819729520252_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=174925&_nc_ohc=HAdlhQj59bYAX_w2fd1&_nc_ht=scontent.fbkk9-2.fna&oh=00_AfApKvFcjR8jb9Qzku_Kdvto2eUl9cnkU8xzl47htbSLVg&oe=63C3983B"
          title="Thidrat Kodpat"
          subtitle="63160200@go.buu.ac.th"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiFolder"
          title="My Files"
          value="myfiles"
          to="/my-files-view"
        ></v-list-item>
        <!--เพิ่ม to ไปที่  -->
        <v-list-item
          :prepend-icon="mdiAccountMultiple"
          title="My Profile"
          value="My-Profile"
          to="/My-Profile"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiStar"
          title="Starred"
          value="starred"
          to="/starred"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <!--   <v-icon :icon="mdiVuetify"></v-icon> ก็ได้-->
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
import {
  mdiStar,
  mdiAccountMultiple,
  mdiFolder,
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiCursorPointer,
  mdiVuetify,
  mdiCheckboxMarked,
} from "@mdi/js"; // import icon

const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>
